.Chat
    .RightHeder-group
        .groupname
            test
            %ul.groupname__menberlist
                Member:
                %li.groupname__menbername
                    masa

        = link_to "#",class: "RightHeader__EditBtn"  do
            Edit

    
    .Message_box
        .Message__info
            .Message__list
                .Message__list__username
                    masa
                .Message__list__date
                    2019/11/20(wed)17:43:01
            .Message
                おはよう！    
         
        .Message__info   
            .Message__list
                .Message__list__username
                    masa
                .Message__list__date
                    2019/11/20(wed)17:43:34
            .Message
                最高  
        

    .Footer
        %form.Form
            .Form-contents
                %input{type:"text",class:"Form-contents__message",placeholder:"type a message"}
                %label{class: "Form-contents__image"}
                    = icon('fas', 'image')
                    %input{type: "file" ,class:"Form-contents__image__file"}
            %input{type:"submit",class:"Form__submit",value:"Send"}        
            
            
            


