.Side-ber
    .LeftHeader 
        .LeftHeader-list
            .LeftHeader-list__username
                masa
            .LeftHeader-list__iconlist
                .LeftHeader__icon
                    = link_to "#" do
                        = icon('fas', 'edit' )

                .LeftHeader__icon   
                    = link_to "#" do
                        =icon('fas','cog' )

    .Group-list
        .Group
            .Group__name
                techcamp
            .Group__messages
                まだメッセージはありません。